#organ_tree

javascript:
  $('#organ_tree').tree(
    { data: #{@tree},
    autoOpen: 0,
    selectable: false } );

  $('#organ_tree').bind(
    'tree.click',
    function(event) {
      var node = event.node;
      $("#organ_users").load(node.url);
    }
  );
