=javascript_include_tag "application"
=javascript_include_tag "unirole/zhiyisoft"
=javascript_include_tag params[:controller]
/! =stylesheet_link_tag params[:controller]
div class="header"
  h1 用户角色管理
  =link_to "等级管理",rank_index_path()
  =link_to "组织机构",organs_path()
  =link_to "身份管理",membership_index_path()
div class="content"
  = yield
div class="footer"
  p 成都知一软件有限公司 开发部